# Dependencies
node_modules/
__pycache__/
*.pyc
*.pyo
*.egg-info/
venv/
env/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace

# OS
.DS_Store
Thumbs.db
desktop.ini

# Build outputs
dist/
build/
*.o
*.so

# Environment variables
.env
.env.local

# Logs
*.log
logs/

# Temporary files
*.tmp
*.bak
*~

.venv/
staticfiles/

db.sqlite3

MINUTA DE CONTRATO.docx
MINUTA DE EDITAL.docx